.split-block {
    margin-top: 20px;
}

.split-inline {
    margin-inline: 20px;
}

.mid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    text-align: right;
}